.main-nav {
    padding: 10px 20px;
    margin: 20px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f6f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.logo {
    &__link {
        text-decoration: none;
        color: #01137f;
        font: 800 32px/1.4 'Open Sans', sans-serif;
        cursor: pointer;
    }
}
.auth-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__link {
        text-decoration: none;
        color: #333;
        font: 600 16px/1.4 'Open Sans', sans-serif;
        cursor: pointer;
    }
    &__link:hover {
        text-decoration: underline;
    }
}